.container {
  position: relative;
}

.hidden {
  display: none;
}

.menu-content {
  position: absolute;
  display: flex;
  font-size: 0;
  background: var(--bkg-color);
}

.open-bottom {
  flex-direction: column;
  top: 100%;
  left: 0;
  border-top: solid 1px #fff;
  height: max-content;
  width: fit-content;
}

.open-bottom-left {
  flex-direction: row;
  top: 100%;
  right: 0;
  border-top: solid 1px #fff;
  height: max-content;
  width: fit-content;
}

.open-up {
  flex-direction: column;
  bottom: 100%;
  right: 0;
  border-bottom: solid 1px #fff;
  height: max-content;
  width: fit-content;
}

.open-left {
  flex-direction: row;
  right: 100%;
  bottom: 0;
  width: max-content;
  height: fit-content;
}
