<link rel="stylesheet" href="styles/common.css" />

<div class="container">
  <slot name="menu-button" onclick="${() => this.toggleMenu()}"> </slot>

  <div class="${this.getClass()}">
    <slot name="menu-content"></slot>
  </div>
</div>
