@media screen and (max-width: 1240px) {
  girafe-search {
    width: 24rem;
  }
}

@media screen and (max-width: 1000px) {
  girafe-search {
    width: 100%;
    left: 0px;
    border-radius: 0;
    margin: 4.5rem 0 0 0;
    background-color: var(--bkg-color);
  }
  girafe-tree-view {
    top: 2.5rem;
    width: 18rem;
  }

  girafe-coordinate {
    display: none;
  }
}
