<link rel="stylesheet" href="styles/common.css" />
<link rel="stylesheet" href="lib/gridjs/mermaid.min.css" />
<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="lib/font-gis/font-gis.css" />

<div id="panel">
  <div id="content">
    <div id="header"></div>
    <div id="grid"></div>
  </div>
  <div id="gutter"></div>
  <div id="close">
    <i class="fa-solid"></i>
  </div>
</div>
