#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: visible;
  min-width: 20rem; /* For and from parent panel */
}

#content {
  background: var(--bkg-color);
  padding: 1.5rem;
  margin: 0;
}

#content button {
  border: solid 1px var(--bkg-color);
  color: var(--text-color-grad2);
  height: 2.4rem;
  width: 2.4rem;
  text-align: left;
  padding: 0;
  padding-left: 0.5rem;
  background-color: var(--bkg-color);
  cursor: pointer;
}

#content button:hover {
  border: solid 1px var(--text-color-grad2);
}

#content button.selected {
  border: solid 1px var(--text-color-grad2);
  background-color: var(--text-color-grad2);
  color: var(--bkg-color);
}

#drawingList {
  min-height: 5rem;
  background-color: var(--bkg-color);
  padding-top: 2rem;
  margin-right: 1rem;
}

#drawingList div.girafe {
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  border: solid 1px var(--text-color);
  text-align: left;
  width: 100%;
  max-width: 16rem;
  min-width: 13rem;
  color: var(--text-color-grad2);
}

#drawingList div.girafe:hover {
  color: var(--text-color);
}

#drawingList input.name {
  display: block;
  border: none;
}

#drawingList i {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  display: inline;
}

#drawingList .text-opts {
  position: absolute;
  right: 0;
  top: 0.5rem;
}

input.slider {
  position: relative;
  width: 6rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
