<link rel="stylesheet" href="styles/common.css" />
<link rel="stylesheet" href="lib/font-gis/font-gis.css" />
<link rel="stylesheet" href="lib/tippy.js/tippy.css" />
<link rel="stylesheet" href="lib/tippy.js/backdrop.css" />
<link rel="stylesheet" href="lib/tippy.js/border.css" />
<link rel="stylesheet" href="lib/tippy.js/svg-arrow.css" />

<div id="panel" class="panel">
  <div class="menu">
    <button
      class="girafe-button-small"
      tip="Advanced options"
      tip-placement="top"
      onclick="${() => this.state.treeview.advanced = !this.state.treeview.advanced}">
      <img class="${this.state.treeview.advanced ? '' : 'hidden'}" alt="advanced mode icon" src="${this.iconGear}" />
      <img class="${this.state.treeview.advanced ? 'hidden' : ''}" alt="simple mode icon" src="${this.iconGears}" />
    </button>

    <button
      class="girafe-button-small"
      tip="Toggle all legends"
      tip-placement="top"
      onclick="${() => this.toggleAllLegends()}">
      <img
        class="${this.areAllLegendExpanded ? '' : 'hidden'}"
        alt="Toggle all legends icon"
        src="${this.iconLegend}" />
      <img
        class="${this.areAllLegendExpanded ? 'hidden' : 'rotate90'}"
        alt="Toggle all legends icon"
        src="${this.iconLegend}" />
    </button>

    <button
      class="girafe-button-small"
      tip="Expand / Collapse all"
      tip-placement="top"
      onclick="${() => this.expandAll()}">
      <img class="${this.isAllExpanded ? '' : 'hidden'}" alt="Collapse all icon" src="${this.iconExpand}" />
      <img class="${this.isAllExpanded ? 'hidden' : 'rotate90'}" alt="Expand all icon" src="${this.iconExpand}" />
    </button>

    <button class="girafe-button-small" tip="Remove all layers" tip-placement="top" onclick="${() => this.removeAll()}">
      <img alt="Remove all layers icon" src="${this.iconTrash}" />
    </button>

    <button
      class="${this.isSwiperVisible ? 'girafe-button-small' : 'hidden'}"
      tip="Hide Swiper"
      tip-placement="top"
      onclick="${() => this.hideSwipe()}">
      <img alt="Remove all layers icon" src="${this.iconSwiper}" />
    </button>

    <girafe-basemap tip="Select basemap"></girafe-basemap>
  </div>
  <div class="treeview-list">
    ${this.state.layers.layersList.map(layer => (layer instanceof GroupLayer) ? uHtml.for(layer)`<girafe-tree-view-group
      groupid="${layer.treeItemId}"></girafe-tree-view-group
    >` : uHtml`<girafe-tree-view-item layerid="${layer.treeItemId}"></girafe-tree-view-item>` )}
  </div>
</div>
