<div id="draggable">
  <div id="header">
    About
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </div>
  <div id="content">
    <img class="logo" alt="GeoGirafe logo" src="${this.logo}" />
    <h3>Version: ${this.version}</h3>
    <h3>Build: ${this.build}</h3>

    <h3>Date: ${this.date}</h3>
    <h3>
      Source:
      <a href="https://gitlab.com/geogirafe/gg-viewer" rel="noopener" target="_blank"
        >https://gitlab.com/geogirafe/gg-viewer</a
      >
    </h3>
  </div>
</div>
