.hidden {
  display: none;
}

#searchbox {
  background-color: var(--bkg-color);
  border-right: none;
  height: 2.25rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: var(--bx-shdw);
}

#search {
  font-size: 1rem;
  outline: none;
  margin: 0 0 0 0.5rem;
  padding-left: 0.8rem;
  border: 0;
  height: 2.25rem;
  width: auto;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -webkit-appearance: none;
  background: transparent;
  color: var(--text-color);
}

.search-icon,
.close-icon,
.select-color-icon {
  width: 14px;
  color: var(--text-color);
  padding: 0 1rem;
}

.close-button,
.select-color-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

#results {
  z-index: 1000;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 3.5rem;
  width: 36rem;
  max-height: 31rem;
  background-color: var(--bkg-color);
  overflow-x: hidden;
  scrollbar-width: thin;
}

.result,
.title {
  display: inline-block;
  padding: 0.3rem 1rem;
  width: Calc(36rem - 2rem);
  line-height: 1.3rem;
}

.title {
  color: var(--text-color);
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 1.3rem;
  padding-top: 1.5rem;
}

.result {
  cursor: pointer;
  border-top: solid 1px #ccc;
}

.title img {
  margin-right: 1rem;
  width: 14px;
}

.title span {
  text-transform: uppercase;
}

.result.selected {
  background-color: #aaa !important;
  color: var(--text-color);
}

@media screen and (max-width: 1000px) {
  #searchbox {
    border-radius: 0;
    border: solid 1px #666;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: none;
  }

  #results {
    top: 7rem;
    left: 2rem;
  }
}
