<div class="container">
  <label class="switch">
    <input
      id="frontendColorSwitcher"
      type="checkbox"
      onclick="${() => this.state.interface.darkFrontendMode = !this.state.interface.darkFrontendMode}" />
    <span tip="Dark mode on interface" class="slider round"></span>
  </label>
  <label class="switch">
    <input
      id="mapColorSwitcher"
      type="checkbox"
      onclick="${() => this.state.interface.darkMapMode = !this.state.interface.darkMapMode}" />
    <span tip="Dark mode on map" class="slider round"></span>
  </label>
</div>
